<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KPSPublicV2Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="KPSPublicV2Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublicv2.asmx"
                binding="basicHttpBinding" bindingConfiguration="KPSPublicV2Soap"
                contract="IdentityService.KPSPublicV2Soap" name="KPSPublicV2Soap" />
        </client>
    </system.serviceModel>
</configuration>